@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
  --red: #00a6fb;
  --dark-red: #006494;
  --blue: #0077b5;
  --gray: rgb(170, 170, 170);
  --dark-gray: #181a1b;
  --dark-blue: #002333;
  --text-color: #fff;
  --lighter-text: rgb(219, 219, 219);
  --card-background: #2e3031;
  --skills-span: rgb(200, 200, 200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--dark-gray);
  font-family: 'Montserrat', sans-serif;
}

header {
  /* background: var(--dark-gray); */
  background-size: cover;
  min-height: 100vh;
}

header nav {
  z-index: 100;
  width: 100%;
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  transition: all 0.3s ease;
}

.nav-fixed {
  background-color: var(--dark-red);
}

.nav-fixed .logo span {
  color: white;
}

header nav .logo {
  color: var(--text-color);
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-left: 6rem;
}

header nav .logo span {
  color: var(--red);
}

header nav img {
  width: 40px;
  margin-right: 6em;
}

header nav .links {
  display: flex;
  gap: 10px;
  margin-right: 6rem;
}

header nav .links li {
  list-style: none;
}

header nav .links a {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 2px;
}

header nav .links .link::after {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 4px;
  background: var(--dark-red);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

header nav .links .link:hover::after {
  width: 100%;
}

header .hero {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}

header .hero h1,
header .hero p {
  color: var(--text-color);
}

header .hero h1 {
  white-space: nowrap;
  text-align: center;
  font-size: calc(1.2rem + 3.2vw);
}

header .hero h1 span {
  color: var(--red);
}

header .hero p {
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: calc(14px + 0.5vw);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
}

header .hero .hero-btns {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

header .hero .hero-btns a {
  margin: 1rem 0.5rem;
  display: inline-block;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 25px;
  font-size: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
}

header .hero .hero-btns .about {
  color: var(--text-color);
  border: 2px solid var(--red);
}

header .hero .hero-btns .about:hover {
  background: var(--red);
  -webkit-box-shadow: 0 0 0 5px #e44e5867;
  box-shadow: 0 0 0 5px #e44e5867;
  color: #fff;
}

header .hero .hero-btns .projects-btn {
  color: #fff;
  /* border: 2px solid var(--blue); */
  background: var(--blue);
}

.vignette {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.7) inset;
}

header .hero .hero-btns .projects-btn:hover {
  /* background: transparent; */
  color: var(--text-color);
  background-color: var(--dark-red);
}

header .socials {
  z-index: 100;
  top: 65%;
  position: absolute;
  left: -8.5rem;
  -webkit-animation: social-links 0.5s;
  animation: social-links 0.5s;
}

header .socials ul {
  list-style: none;
}

header .socials ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1.2rem;
  display: block;
  width: 200px;
  text-align: right;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .socials ul li a i {
  padding-left: 1.5rem;
}

header .socials ul li .linkedin {
  background: var(--blue);
}

header .socials ul li .github {
  background: #2e3031;
}

header .socials ul li .email {
  background: var(--red);
}

header .socials ul li a:hover {
  -webkit-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

#home .fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--dark-red);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.rain-container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  /* top: 50%;
  left: 50%; */
}

#home .fixed .logo {
  color: #fff;
}

#home .fixed .logo span {
  color: var(--text-color);
}

#home .fixed .links .link::after {
  background: var(--dark-gray);
}

#about {
  background: var(--dark-blue);
}

#about .container-about {
  display: flex;
  align-items: center;
}

#about .container-about .about-me {
  width: 60%;
}

#about .container-about .about-me h2 {
  font-size: 2.5rem;
  position: relative;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 5rem;
  width: 66%;
  margin: 0 auto;
}

#about .container-about .about-me h2 span {
  color: var(--red);
}

/* #about .container-about .about-me h2::after {
  content: '';
  position: absolute;
  top: 82%;
  margin-left: 1rem;
  width: 35%;
  height: 3px;
  background: var(--red);
} */

#about .container-about .about-me p {
  font-size: 1rem;
  margin: 0 auto;
  padding: 2rem 0 5rem 0;
  max-width: 67%;
  color: #c8c8c8;
  font-weight: bolder;
  line-height: 1.7;
}

#about .container-about .user-img {
  width: 50%;
  max-width: 300px;
  border: 4px solid var(--red);
  border-radius: 50%;
}

.skills {
  background: var(--dark-gray);
  padding: 5rem 0;
}

.skills .header h2 {
  font-size: 2.5rem;
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.skills .header h2 span {
  color: var(--red);
}

.skills .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--card-background);
  color: #ccc;
  gap: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.skill .iconify {
  width: 50px;
  height: 50px;
}

.skill p {
  /* width: 40px; */
  font-size: 0.8rem;
  /* text-align: center; */
}

#projects {
  background: var(--dark-blue);
  padding: 5rem 0;
}

#projects .header h2 {
  font-size: 2.5rem;
  position: relative;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

#projects .header h2 span {
  color: var(--red);
}

/* #projects .header h2::after {
  content: '';
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  width: 20%;
  height: 3px;
  background: var(--red);
} */

#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 75%; */
  margin: auto;
  max-width: 1800px;
}

#projects .container .card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 19px;
  background: var(--dark-gray);
  text-align: center;
  margin: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#projects .container .card .card-img {
  height: 200px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-size: cover;
  background-position: center;
}

#projects .container .card .card-text {
  padding: 1.5rem;
}

#projects .container .card .card-text h2 {
  padding: 0.5rem 0 1rem 0;
  color: var(--text-color);
}

#projects .container .card .card-text p {
  color: var(--gray);
  line-height: 1.6;
}

#projects .container .card .card-text .made-with {
  color: var(--gray);
  line-height: 1.6;
  font-weight: bold;
}

#projects .container .card .card-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#projects .container .card .card-buttons a {
  margin-left: 0.5rem;
  text-decoration: none;
  padding: 8px 24px;
  outline: none;
  border: none;
  color: var(--text-color);
  background: var(--red);
  border-radius: 25px;
  transition: 0.3s ease;
}

#projects .container .card .card-buttons a i {
  padding-right: 5px;
}

#projects .container .card .card-buttons a:hover {
  background: var(--dark-red);
  /* color: var(--red); */
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#projects .container .card .card-buttons.expo {
  font-size: 0.8rem;
}

/* CARD IMAGES */

#projects .container .card1 {
  background: url(../images/aclist.png);
}

#projects .container .card2 {
  background: url(../images/zombies.gif);
}

#projects .container .card3 {
  background: url(../images/courseexpo.png);
}

#projects .container .card4 {
  background: url(../images/multi.png);
}

#projects .container .card5 {
  background: url(../images/codepen.png);
}

#back-to-top {
  /* display: none; */
  opacity: 0;
  position: fixed;
  bottom: 3%;
  right: 4%;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--red);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 1;
  transition: opacity 0.5s ease;
}

#back-to-top:hover {
  background-color: var(--text-color);
  color: var(--dark-red);
}

footer .header {
  font-size: 2rem;
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

#contact {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

#contact .links {
  width: 100%;
  max-width: 400px;
}

#contact form input {
  background: #292c35;
  border: none;
  color: #e6e6e6;
  margin: 5px 0;
  padding: 10px;
}

#contact form textarea {
  background: #292c35;
  border: none;
  color: #e6e6e6;
  height: 50px;
  margin: 5px 0;
  padding: 10px;
  resize: none;
}

#contact form button {
  background: var(--red);
  border: none;
  color: #e6e6e6;
  padding: 10px;
  transition: border-radius 0.2s ease-out;
  cursor: pointer;
}

#contact .links {
  color: white;
  font-size: 1.4rem;
  /* align-items: center; */
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contact .links .icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--dark-red);
}

@media screen and (max-width: 1024px) {
  #about .container-about {
    flex-direction: column-reverse;
  }
  #about .container-about .about-me {
    width: 100%;
  }
  #about .container-about .about-me h2 {
    text-align: center;
  }
  #about .container-about .about-me h2::after {
    display: none;
  }
  #about .container-about .about-me p {
    text-align: center;
  }
  #about .container-about .user-img {
    margin-top: 3rem;
    width: 30%;
  }
  #about .container-about .about-me h2 {
    padding-top: 2rem;
  }
  #skills .header h2 {
    width: 70%;
  }
  #projects .header h2 {
    width: 70%;
  }
  #back-to-top {
    bottom: 6%;
    right: 5%;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  #contact {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #contact .links .icons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .hero-btns {
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }

  header .hero .hero-btns a {
    margin: 0.5rem;
  }

  #projects .container .card .card-buttons {
    flex-direction: column;
    /* width: 130px; */
    margin: 1rem 1rem;
    line-height: 2rem;
    gap: 1rem;
  }

  header nav .logo {
    margin-left: 2rem;
  }

  header nav img {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 100vh;
  }
}
