@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: #ddd;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
}

.about {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  height: 85%;
}

.about-right {
  margin-top: 2rem;
  border-left: 2px solid rgb(56, 56, 56);
  height: 92vh;
}

.about-left {
  margin-top: 30%;
}

.about-left h1,
.about-left h2,
.about-left h3 {
  margin: 5px 0;
}

.about-left p {
  margin-top: 10px;
  width: 80%;
}

header {
  background-color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav a {
  font-size: 1.3rem;
  text-decoration: none;
  color: inherit;
}

.nav a:hover {
  color: gray;
}

.nav div {
  display: flex;
  gap: 10px;
}

.nav button {
  font-family: inherit;
}

.about-icons {
  display: flex;
  margin: 10px 0;
  gap: 15px;
}

.about-icons i {
  color: rgba(0, 0, 0, 0.7);
}

.about-icons i:hover {
  color: rgba(0, 0, 0, 0.6);
}

.about-container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.image-container {
  width: 90%;
  margin: auto;
  border-bottom: 2px solid rgb(56, 56, 56);
}

.image-container img {
  width: 100%;
}

button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: whitesmoke;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

ul {
  margin-top: 0.5rem;
  margin-left: 1.2rem;
}

.projects {
  max-width: 800px;
  margin: auto;
}

.project-section {
  background-color: whitesmoke;
  padding: 1rem;
  margin: 2rem;
  /* margin: 2rem auto; */
}

.project-title {
  margin-bottom: 0.5rem;
}

.project-section a {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.project-section img {
  width: 100%;
}

.btn {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about-left {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .about-right {
    border-left: none;
  }
}

.disclaimer {
  text-align: center;
  height: 50px;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav div {
    margin-top: 0.3rem;
    flex-direction: column;
  }
}

.swiper {
  /* width: 50%; */
  /* height: fit-content; */
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-slide img {
  width: 100%;
}
