@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --light-blue: #00a6fb;
  --blue: #006494;
  --light-blue2: #0077b5;
  --gray: rgb(170, 170, 170);
  --dark-gray: #181a1b;
  --dark-blue: #002333;
  --text-color: #fff;
  --lighter-text: rgb(219, 219, 219);
  --card-background: #2e3031;
  --skills-span: rgb(200, 200, 200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark-gray);
  font-family: var(--font-montserrat);
  color: var(--text-color);
}

/* HEADER AND NAV */
header {
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.nav-text {
  color: var(--text-color);
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-left: 6rem;
}

span {
  color: var(--light-blue);
}

.nav-icon {
  width: 40px;
  margin-right: 6em;
  border-radius: 50%;
}

/* HERO */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: var(--text-color);
  text-align: center;
  z-index: 1;
}

.hero h1 {
  font-size: calc(1.2rem + 3.2vw);
}

header .hero p {
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: calc(14px + 0.5vw);
  padding: 0.5rem;
}

.hero .btns {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.hero .btns a {
  margin: 1rem 0.5rem;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: var(--light-blue2);
  color: var(--text-color);
}

.hero .btns a:hover {
  color: var(--text-color);
  background-color: var(--blue);
}

.vignette {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.7) inset;
  background-image: url(./public/seattlebg.gif);
}

.chevron {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.hero-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-icon {
  background: var(--light-blue2);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.hero-icon:hover {
  background: var(--blue);
}



/* ABOUT SECTION */
#about {
  background: var(--dark-blue);
}

#about .container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 5rem 2rem;
}

.about-me {
  width: 60%;
}

.about-me h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  letter-spacing: 2px;
  padding-top: 5rem;
  width: 66%;
  margin: 0 auto;
}

.about-me h2 span {
  color: var(--light-blue);
}

.about-me p {
  font-size: 1rem;
  margin: 0 auto;
  padding: 2rem 0 5rem 0;
  max-width: 67%;
  color: var(--lighter-text);
  font-weight: bolder;
  line-height: 1.7;
}

.user-img {
  width: 50%;
  max-width: 300px;
  border: 4px solid var(--light-blue);
  border-radius: 50%;
}

/* SKILLS SECTION */
.skills {
  background: var(--dark-gray);
  padding: 5rem 0;
}

.skills .header h2 {
  font-size: 2.5rem;
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.skills .header h2 span {
  color: var(--light-blue);
}

.skills .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--card-background);
  color: #ccc;
  gap: 1.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.skill iconify-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.skill p {
  font-size: 0.8rem;
}

/* PROJECTS SECTION */
#projects {
  background: var(--dark-blue);
  padding: 5rem 0;
}

#projects .header h2 {
  font-size: 2.5rem;
  position: relative;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

#projects .header h2 span {
  color: var(--light-blue);
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1800px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 19px;
  background: var(--dark-gray);
  text-align: center;
  margin: 2rem;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-img {
  height: 200px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-size: cover !important;
  background-position: center !important;
}

.card-text {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-text h2 {
  padding: 0.5rem 0 1rem 0;
  color: var(--text-color);
}

.card-text p {
  color: var(--gray);
  line-height: 1.6;
  flex: 1;
}

.card-text.small {
  font-size: 0.9rem;
}

.card .btns {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

.btn {
  text-decoration: none;
  padding: 8px 24px;
  width: 150px;
  margin: auto;
  color: var(--text-color);
  background: var(--light-blue);
  border-radius: 25px;
  transition: 0.3s ease;
  margin-top: 0.3rem;
  text-align: center;
}

.btn:hover {
  background: var(--blue);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card .btns a {
  margin-left: 0.5rem;
  text-decoration: none;
  padding: 8px 24px;
  outline: none;
  border: none;
  color: var(--text-color);
  background: var(--light-blue);
  border-radius: 25px;
  transition: 0.3s ease;
}

.card .btns a i {
  padding-right: 5px;
}

.card .btns a:hover {
  background: var(--blue);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card .btns.expo {
  font-size: 0.8rem;
}

/* BACK TO TOP BUTTON */
.back-to-top {
  opacity: 1;
  position: fixed;
  bottom: 3%;
  right: 4%;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--light-blue);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top.hide {
  opacity: 0;
  cursor: initial;
}

.back-to-top:hover {
  background-color: var(--light-blue2);
}

/* FOOTER */
footer .header {
  font-size: 2rem;
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 80%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

#contact {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}

#contact .links {
  color: white;
  font-size: 1.4rem;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
}

#contact .links .icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  justify-content: center;
}

.footer-icon {
  background: transparent;
  color: var(--light-blue2);
  padding: 0.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-icon:hover {
  color: var(--blue);
}

a {
  color: var(--light-blue2);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  #about .container {
    flex-direction: column-reverse;
  }
  .about-me {
    width: 100%;
  }
  .about-me h2 {
    text-align: center;
  }
  .about-me p {
    text-align: center;
  }
  .user-img {
    margin-top: 3rem;
    width: 30%;
  }
  .about-me h2 {
    padding-top: 2rem;
  }
  .back-to-top {
    bottom: 6%;
    right: 5%;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  #contact {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #contact .links .icons {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .hero .btns {
    margin-bottom: 0.5rem;
  }
  .hero .btns a {
    margin: 0.3rem;
  }
  .card .btns {
    flex-direction: column;
    margin: 1rem 1rem;
    line-height: 2rem;
    gap: 1rem;
  }
  header nav .nav-text {
    margin-left: 2rem;
  }
  header nav img {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 100vh;
  }
  .hero {
    width: 100%;
  }
}
